@font-face {
  font-family: 'helveticarounded_bold';
  src: url('../fonts/helvetica-rounded-bold-5871d05ead8de.otf');
}

@font-face {
  font-family: 'helveticaoblique';
  src: url('../fonts/Helvetica-Oblique.ttf');
}

@font-face {
  font-family: 'helveticacompressed';
  src: url('../fonts/helvetica-compressed-5871d14b6903a.otf');
}

@font-face {
  font-family: 'helveticabold_oblique';
  src: url('../fonts/Helvetica-BoldOblique.ttf');
}

@font-face {
  font-family: 'helveticabold';
  src: url('../fonts/Helvetica-Bold.ttf');
}

@font-face {
  font-family: 'helveticaregular';
  src: url('../fonts/Helvetica.ttf');
}
